<ion-content [fullscreen]="true">
  <div class="container">
    <h1 class="ion-text-center title">Relevamiento Visual App</h1>
    <br>
    <img class="imagen" src="../../../assets/icon/icon.png" alt="">
  </div>
    <ion-card id="NongModel" class="ion-text-center card" color="dark">
      <ion-card-header>
        <ion-card-title class="title">Ingrese sus datos</ion-card-title>      
      </ion-card-header>
      <form [formGroup]="formRegistro" class="form">
                
        <ion-input class="input" label-placement="floating" mode="md" fill="outline" label="Correo" type="email" placeholder="Ingrese su correo electrónico" formControlName="email" ></ion-input>
        <ion-text *ngIf="formRegistro.controls['email'].errors?.['required'] && formRegistro.controls['email'].touched" color="danger">Debe ingresar un email</ion-text>
        
        <hr>
  
        <ion-input class="input" label-placement="floating" mode="md" fill="outline" label="Contraseña" type="password" placeholder="Ingrese la contraseña" formControlName="pass"></ion-input>
  
        <ion-text *ngIf="formRegistro.controls['pass'].errors?.['required'] && formRegistro.controls['pass'].touched" color="danger">Debe ingresar una contraseña</ion-text>
        <ion-text *ngIf="formRegistro.controls['pass'].errors?.['minlength']" color="danger">Debe tener 6 caracteres mínimo</ion-text>
        
        <hr>
        
        <ion-button shape="round" [disabled]="formRegistro.invalid" class="ion-text-center login-button" (click)="login()">Ingresar</ion-button>
        
        <hr>
        
        <h3>Acceso rápido</h3>
        <div class="ingreso-rapido">
            <hr>
            <ion-fab slot="fixed" color="tertiary" vertical="top" horizontal="start">
              <ion-fab-button>
                <ion-icon name="chevron-forward-circle"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="end">
                <ion-fab-button>
                  <ion-icon name="accessibility-outline" color="tertiary" (click)="logueoRapido('admin@admin.com.ar','123456')"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                  <ion-icon name="man-outline" color="tertiary" (click)="logueoRapido('juan@gmail.com','solano823')"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                  <ion-icon name="body-outline" color="tertiary" (click)="logueoRapido('invitado@invitado.com.ar','123456')"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>

        </div>

      </form>
      
    </ion-card>

  
  
</ion-content>