<ion-content [fullscreen]="true">
    <div class="cosas-lindas">
      <ion-button class="ion-margin-bottom expand button-img" color="success" routerLink="/cosas-lindas">
        <ion-card-header>
          <ion-card-title>Cosas Lindas</ion-card-title>          
        </ion-card-header>
        <img alt="cosas-lindas" src="../../../assets/buttons/me-gusta.png"/>
      </ion-button>
    </div>

    <div class="cosas-feas">
      <ion-button class="ion-margin-bottom expand" color="danger" routerLink="/cosas-feas">
        <ion-card-header>
          <ion-card-title>Cosas Feas</ion-card-title>          
        </ion-card-header>
        <img  alt="cosas-feas" src="../../../assets/buttons/no-me-gusta.png" />
      </ion-button>
    </div>
</ion-content>